<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de filme</title>
</head>

<body>
    <h1>Cadastro de filme</h1>
    <form action="/filmes" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome"><br>

        <label for="duracao">Duração (em minutos):</label>
        <input type="text" name="duracao" id="duracao"><br>

        <label for="ano">Ano de lançamento: </label>
        <input type="text" name="ano" id="ano"><br>

        <label for="genero">Gênero:</label>
        <input type="text" name="genero" id="genero"><br>

        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>